@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Style+Script&display=swap');

* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 30%;
  color: rgba(0, 225, 255, 0.664);
}


.mykael-div {
  position: absolute;
  top: 40%;
  margin: auto;
  left: 0;
  right: 0;
  color: rgba(0, 225, 255, 0.664);
  font-weight: bold;
  font-size: 64px;
  text-align: center;
  width: 30%;
  height: 10%;
  font-family: 'Lobster';
  letter-spacing: 8px;
  /* transition: 1s; */
  visibility: visible;
}


.webdev {
  color: grey;
}

.webdev-div {
  position: absolute;
  top: 49%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  visibility: visible;
}

.webdev:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px #fff,
                0 0 80px #fff,
                0 0 120px #fff,
                0 0 16px #fff;
}

.mykael-div:hover {
  background: -webkit-linear-gradient(rgb(0, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(0, 225, 255, 0.25) 0px 54px 55px, rgba(0, 225, 255, 0.12) 0px -12px 30px, rgba(0, 225, 255, 0.12) 0px 4px 6px, rgba(0, 225, 255, 0.17) 0px 12px 13px, rgba(0, 225, 255, 0.09) 0px -3px 5px;
}

.button-container {
  position: absolute;
  padding: 0;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
  margin-top: 1.5%;
  visibility: visible;
}

.button-container a {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  color: rgba(0, 225, 255, 0.664);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  font-family: Courier New;
}

.button-container a:hover {
  color: #111;
  box-shadow: 0 0 10px #0f0, 0 0 40px, #0f0, 0 0 80px #0f0;
  background: rgba(0, 225, 255, 0.664);
  border-radius: 8px;
  transition-delay: 1s;
  padding: auto;
}

a span {
  position: relative;
  display: inline-block;
}

a span:nth-child(1) {
  position: absolute;
  top: 0;
  left: -130%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgba(0, 225, 255, 0.664))
}

a:hover span:nth-child(1) {
  left: 120%;
  transition: 0.7s;
}

a span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgba(0, 225, 255, 0.664))
}

a:hover span:nth-child(3) {
  right: 120%;
  transition: 0.5s;
  transition-delay: 0.5s;
}

a span:nth-child(2) {
  position: absolute;
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(0, 225, 255, 0.664))
}

a:hover span:nth-child(2) {
  top: 100%;
  transition: 0.5s;
  transition-delay: 0.25s;
}

a span:nth-child(4) {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgba(0, 225, 255, 0.664))
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.5s;
  transition-delay: 0.75s;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #111;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

section .row {
  position: relative;
  top: -50%;
  width: 100%;
  display: flex;
  padding: 10px 0;
  white-space: nowrap;
  font-size: 64px;
  transform: rotate(-30deg);
}

.main-page-icon {
  color: rgba(0, 0, 0, 0.5);
  transition: 1s;
  padding: 0 5px;
  user-select: none;
  cursor: default;
}

.main-page-icon:hover {
  transition: 0s;
  color: rgba(0, 225, 255);
  text-shadow: 0 0 120px #0f0;
}

section .row div {
  font-size: 1em;
  white-space: nowrap;
  animation: animate1 80s linear infinite;
  animation-delay: -80s;
}

section .row div:nth-child(2) {
  animation: animate2 80s linear infinite;
  animation-delay: -40s;
}

@keyframes animate1 {
  0%
  {
      transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0%
  {
      transform: translateX(0%);
  }
  100%
  {
    transform: translateX(-200%);
  }
}








section .row:nth-child(even) div {
  font-size: 1em;
  white-space: nowrap;
  animation: animate3 80s linear infinite;
  animation-delay: -80s;
}

section .row:nth-child(even) div:nth-child(2) {
  animation: animate4 80s linear infinite;
  animation-delay: -40s;
}

@keyframes animate3 {
  0%
  {
      transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}

@keyframes animate4 {
  0%
  {
      transform: translateX(-200%);
  }
  100%
  {
    transform: translateX(0%);
  }
}

@media (max-width: 1463px) {
  .button-container a {
    color: white;
    margin-top: 2%;
  }

  span {
    color: white;
  }

  .testing {
    width: 100%;
    height: 100%;
  }
}

.social-media a:hover {
  transform: translateY(-15px);
}

.icon-test svg:hover {
  color: rgba(0, 225, 255, 0.664);
  
  
}

.icon-test {
  
  color: rgba(0, 225, 255, 0.664);
  
}

.social-media {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 60%;
  left: 46.5%;
  font-size: 64px;
  visibility: visible;
}



/*  */

#popup {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(17, 17, 17, 0.884);  
  border: 5px double rgba(0, 225, 255, 0.664);
  padding: 80px 50px 50px;
  box-shadow: 0 15px 30px rgba(0,0,0,0,0.08);
  transition: 0.5s;
  visibility: hidden;
  
}

#popup .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.email-icon {
  font-size: 64px;
  color:rgba(0, 225, 255, 0.664);
  position: absolute;
  top: 15%;
  left: 45%;
  margin-bottom: 50%;
}

.close img{
  width: 5%;
  height: 5%;
  cursor: pointer;
  background:rgba(0, 225, 255, 0.664);
  margin-left: 95%;
  
}

.close img:hover {
  box-shadow: rgba(0, 225, 255, 0.25) 0px 5px 5px, rgba(0, 225, 255, 0.12) 0px -12px 30px, rgba(0, 225, 255, 0.12) 0px 4px 6px, rgba(0, 225, 255, 0.17) 0px 12px 13px, rgba(0, 225, 255, 0.09) 0px -3px 5px;

}

#popup.active {
  visibility: visible;
  top: 50%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  color:rgba(0, 225, 255, 0.664);
  text-align: center;
  width: 70%;
  font-weight: bold;
}

.contact-content h2 {
  color:rgba(0, 225, 255, 0.664);
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 30px;
}

.form-container {
  display: flex;
  justify-content: center;
}

input {
  padding: 5px;
  border-radius: 8px;
  margin: 10px;
}

.contact-form button {
  background: rgba(0, 225, 255, 0.664);
  padding: 10px;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  margin-left: 35%;
  font-family: 'Lobster';
  font-weight: bold;
  font-size: 15px;
  margin-top: 5%;
  border: 1px solid #111;
  color: #111;
}

.contact-form button:hover {
  background: rgba(68, 233, 255, 0.664);
  font-style: italic;
  box-shadow: rgba(0, 225, 255, 0.25) 0px 5px 5px, rgba(0, 225, 255, 0.12) 0px -12px 30px, rgba(0, 225, 255, 0.12) 0px 4px 6px, rgba(0, 225, 255, 0.17) 0px 12px 13px, rgba(0, 225, 255, 0.09) 0px -3px 5px;

  
}

#message-input {
  height: 100px;
  padding: 5px;
  border-radius: 8px;
  margin: 10px;
}

/*  */

.mykael-div.inactive {
  visibility: hidden;
}

.webdev-div.inactive {
  visibility: hidden;
}

.button-container.inactive {
  visibility: hidden;
}

.social-media.inactive {
  visibility: hidden;
}